@tailwind base;
@tailwind components;
@tailwind utilities;

/* Definition of the design system. All colors, gradients, fonts, etc should be defined here. 
All colors MUST be HSL.
*/

@layer base {
  :root {
    --background: 0 0% 100%;
    --foreground: 205 100% 13%;

    --card: 0 0% 100%;
    --card-foreground: 205 100% 13%;

    --popover: 0 0% 100%;
    --popover-foreground: 205 100% 13%;

    --primary: 205 100% 13%;
    --primary-foreground: 0 0% 100%;

    --secondary: 43 96% 56%;
    --secondary-foreground: 205 100% 13%;

    --muted: 210 40% 96.1%;
    --muted-foreground: 215.4 16.3% 46.9%;

    --accent: 43 96% 56%;
    --accent-foreground: 205 100% 13%;

    --destructive: 0 84.2% 60.2%;
    --destructive-foreground: 0 0% 100%;

    --border: 214.3 31.8% 91.4%;
    --input: 214.3 31.8% 91.4%;
    --ring: 205 100% 13%;

    --radius: 0.5rem;

    --sidebar-background: 0 0% 98%;

    --sidebar-foreground: 240 5.3% 26.1%;

    --sidebar-primary: 240 5.9% 10%;

    --sidebar-primary-foreground: 0 0% 98%;

    --sidebar-accent: 240 4.8% 95.9%;

    --sidebar-accent-foreground: 240 5.9% 10%;

    --sidebar-border: 220 13% 91%;

    --sidebar-ring: 217.2 91.2% 59.8%;
  }

  .dark {
    --background: 205 100% 8%;
    --foreground: 0 0% 98%;

    --card: 205 100% 10%;
    --card-foreground: 0 0% 98%;

    --popover: 205 100% 10%;
    --popover-foreground: 0 0% 98%;

    --primary: 43 96% 56%;
    --primary-foreground: 205 100% 13%;

    --secondary: 205 100% 13%;
    --secondary-foreground: 0 0% 98%;

    --muted: 205 50% 20%;
    --muted-foreground: 215 20.2% 65.1%;

    --accent: 43 96% 56%;
    --accent-foreground: 205 100% 13%;

    --destructive: 0 62.8% 30.6%;
    --destructive-foreground: 0 0% 98%;

    --border: 205 50% 20%;
    --input: 205 50% 20%;
    --ring: 43 96% 56%;
    --sidebar-background: 240 5.9% 10%;
    --sidebar-foreground: 240 4.8% 95.9%;
    --sidebar-primary: 224.3 76.3% 48%;
    --sidebar-primary-foreground: 0 0% 100%;
    --sidebar-accent: 240 3.7% 15.9%;
    --sidebar-accent-foreground: 240 4.8% 95.9%;
    --sidebar-border: 240 3.7% 15.9%;
    --sidebar-ring: 217.2 91.2% 59.8%;
  }
}

@layer base {
  * {
    @apply border-border;
  }

  body {
    @apply bg-background text-foreground;
  }
}
